<div>
<h1>HELLO USER !!!!</h1>

	<table>
	<tr>
       <td> CLICK THE BUTTON BELOW TO SEE THE PROJECTS UNDER YOU::::</td>
    </tr>
    <tr>
     <td> <%= link_to "Project list", @userproject %> </td>
    </tr>
    </table>

</div>