<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Career Seekers</a></li>
    <li><a href="#tabs-2">Industry Analysts</a></li>
    <li><a href="#tabs-3">Digital signatures</a></li>
    <li><a href="#tabs-4">Feedback and Suggestions</a></li>
  </ul>
  <div id="tabs-1">
  <p>For information on employment, visit the Career Seekers channel.</p>
  </div>
  <div id="tabs-2">
  <p>For inquiries related to Industry Analysts, email us at analyst.relations@rcs.com.</p>
  </div>
  <div id="tabs-3">
  <p>For digital signatures, email us at helpdesk@rcs-ca.rcs.co.in. </p>
  </div>
  <div id="tabs-4">
    <p>For any suggestions or feedback, you may write in to the Global Process Head - Talent Acquisition at head.talentacquisition@rcs.com</p>
  </div>
</div>