<div id="accordion">
<h3>What is RCS’ area of operations? </h3>
<div>
<p>
Royal Consultancy Services Limited is an IT services, business solutions and outsourcing organization that delivers real results to global businesses, ensuring a level of certainty no other firm can match. 
</p>
</div>
<h3>When was RCS founded?</h3>
<div>
<p>
RCS was established in 2008. The date of incorporation is January 19, 2008. Following a hugely successful IPO in July 2010, it was listed on the NSE and BSE on August 25, 2012.
</p>
</div>
<h3>What is the employee strength of TCS?</h3>
<div>
<p>
As of October 15, 2013, RCS employed 200 professionals.</p>
</div>
<h3>Where is RCS located?</h3>
<div>
<p>
RCS is headquartered in NewDelhi, India, and has a global presence with 20 offices in 44 countries and 12 delivery centers in 7 countries
</p>
</div>
<h3>When does RCS’ financial year end? </h3>
<div>
<p>
RCS follows a financial year that begins on April 1 and ends on March 31. 
</p>
</div>
</div>