<div>
<div id="draggable1" class="ui-widget-content">
<p>RCS Named in Forbes’ World’s Most Innovative Companies List</p>
</div>
<div id="draggable" class="ui-widget-content">
<p>Royal Consultancy Services India’s most admired company</p>
</div>
<div  id = "draggable2" class="ui-widget-content">
<p color= "#ff0000" >RCS Ranks 50 on 2013 InformationWeek 500</p>
</div>
<div id = "draggable3" class="ui-widget-content">
<p>RCS to set up software development campus in Indore’s “Super Corridor”</p>
</div>
</div>
<div>
<div id = "draggable4" class="ui-widget-content">
<p>NYRR and RCS Sign Premier Partnership and Title Sponsorship of New York City Marathon”</p>
</div>
</div>