
#draggable { width: 200px; height: 40px; background: #9966CC; color:#000000; padding: 0.5em; }
#draggable1 { width: 200px; height: 50px; background: #66CCFF; padding: 0.5em; }
#draggable2 { width: 200px; height: 50px; background: #CCFF00; padding: 0.5em; }
#draggable3 { width: 270px; height: 60px; background: #FF3399; padding: 0.5em; }
#draggable4 { width: 270px; height: 60px; background: #FF9900; padding: 0.5em; }
